<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="pkg_viewer.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ModelViewer.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    <requiredRuntime version="v4.0.20506" />
  </startup>
    <userSettings>
        <pkg_viewer.My.MySettings>
            <setting name="game_path" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="extract_location" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="fbx_path" serializeAs="String">
                <value>C:\</value>
            </setting>
        </pkg_viewer.My.MySettings>
        <ModelViewer.My.MySettings>
            <setting name="game_path" serializeAs="String">
                <value>c:\</value>
            </setting>
        </ModelViewer.My.MySettings>
    </userSettings>
</configuration>
